<section>
    <header>
        <img width="375" src="/me.webp" alt="Maria">
        <h1>María del Mar Duvale Barbeitos</h1>
        <p>Geógrafa bla bla bla</p>
    </header>
</section>

<style> 
    img {
    aspect-ratio: 1 / 1;
    width: 115px;
    border-radius: 100%;
    object-fit: cover;
    max-width: 100%;
    object-position: center;
    }
    p {
        margin-top: 0;
    
    }
    h1 {
        margin-bottom: 0;
    }
</style>
