---
import NewCard from "../ui/NewCard.astro"
---
<section>
    <h2>Avaliable freelance</h2>
    <NewCard enlace="https://www.microsoft.com/">
        <strong slot="titulo">bla bla bla</strong>
        <p slot="contenido">collección de bla bla</p>
    </NewCard>
</section>