---
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout titulo="página de contacto" idioma="es" description="Contacta conmigo: mduvbar.appventurers@gmail.com o en el teléfono 666765432">
	<h1>Página de contacto.</h1>
</MainLayout>