---
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/ui/Card.astro"
import About from "../components/sections/About.astro"
import Projects from "../components/sections/Projects.astro"
import Contact from "../components/sections/Contact.astro"
import Connect from "../components/sections/Connect.astro"
---
<MainLayout titulo="Portafolio de María" idioma="es">
	<About />
	<Projects />
	<Contact />
	<Connect />

	
	<!-- <h1>Portafolio María Duvale.</h1>
	<section>
		<Card
			href="https://www.webferrol.com" title="Prueba 1" body="lorem ipsum dolor"/	
			href="https://www.webferrol.com" title="Prueba 2" body="lorem lorem lorem"/
			href="https://www.webferrol.com" title="Prueba 3" body="ipsum dolor"/>	
	</section> -->
	 
</MainLayout>
<style>
	*{
		display: flex;
		gap: 0.5rem;
	}
</style>